.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 400px;
    margin: auto;
    padding: 0.5em;
    display: none;
    background: var(--nc-bg-3);
}

.lbl{
    display: block;
}

.xlbl{
    display: block;
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
}

#smellur{
    display: none;

}

#smellur:checked ~ .popup{
    display: block;

}

.register-btn {
    padding: 10px 20px;
    cursor: pointer;
    color: var(--nc-bg-1);
    background-color: var(--nc-tx-2);
    border-radius: 99px;
    border: 1px solid var(--nc-bg-2);
    text-align: center;
    display: inline-block;
    transition: background-color 0.4s, color 0.4s;
}

.register-btn:hover {
    background-color: transparent; 
    color: var(--nc-tx-1);
    border-color: transparent;
}









table {
    margin-top: 50px;
    margin-bottom: 50px;
}

section {
    padding-top: 65px;
}
